<div>
    <style>
        headers {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
        }
        header {
            padding: 10px;
            margin: 10px;
        }
    </style>

    <headers>
        <header style="width: 500px">
            <h1>
                Registrator
            </h1>
        </header>

        <header style="width:300px">
            <text>
                Пн-Пт 8.00 до 20.00 <br>
                Тел.: 8-800-xxx-xx-xx
            </text>
        </header>

        <header>
            <form action="/homepage">
                <button>
                    <basket>
                        Главная
                    </basket>
                </button>
            </form>
        </header>
        
        <header>
            <form action="/rkopage">
                <button>
                    <basket>
                        РКО
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/debitpage">
                <button>
                    <basket>
                        Debit
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/creditpage">
                <button>
                    <basket>
                        Credit
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/garantpage">
                <button>
                    <basket>
                        Garant
                    </basket>
                </button>
            </form>
        </header>

    </headers>
</div>
