<div>
    <style>
        headers {
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 80%;
            align-items: center;
            
            
        }
        header {
            padding: 10px;
            margin: 10px;
        }
        .hbtn {
            width: 100px;
            height: 50px;
        }
        .htxt {
            font-size: 120%;
        }
    </style>

    <headers>
        <header style="width: 500px">
            <h1>
                Registrator
            </h1>
        </header>

        <header style="width:300px">
            <text>
                Пн-Пт 8.00 до 20.00 <br>
                Тел.: 8-800-xxx-xx-xx
            </text>
        </header>

        <header>
            <form action="/">
                <button class="hbtn">
                    <basket class="htxt">
                        Главная
                    </basket>
                </button>
            </form>
        </header>
        
        <header>
            <form action="/rkopage">
                <button class="hbtn">
                    <basket class="htxt">
                        РКО
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/debitpage">
                <button class="hbtn">
                    <basket class="htxt">
                        Debit
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/creditpage">
                <button class="hbtn">
                    <basket class="htxt">
                        Credit
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/garantpage">
                <button class="hbtn">
                    <basket class="htxt">
                        Garant
                    </basket>
                </button>
            </form>
        </header>

    </headers>
</div>
