<div>
    <style>

    </style>

    <div>
        <header style="width: 500px">
            <h1>
                Registrator
            </h1>
        </header>

        <header style="width:300px">
            <text style="font-size: 110%;">
                Пн - Пт 8.00 до 20.00 <br>
                Тел.: 8-800-xxx-xx-xx
            </text>
        </header>

        <header>
            <form action="/">
                <button class="hbtn">
                    <basket class="htxt">
                        Главная
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/rkopage">
                <button class="hbtn">
                    <basket class="htxt">
                           РКО
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/debitpage">
                <button class="hbtn">
                    <basket class="htxt">
                        Debit
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/creditpage">
                <button class="hbtn">
                    <basket class="htxt">
                        Credit
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="/garantpage">
                <button class="hbtn">
                    <basket class="htxt">
                        Garant
                    </basket>
                </button>
            </form>
        </header>
    </div>

</div>